.alert {
  display: flex;
  min-height: rem(100px);
  margin-bottom: rem(24px);
  padding-top: rem(10px);

  background: map-get($brand-black, 'light');
  border-radius: rem(12px);

  backdrop-filter: blur(rem(50px));

  &__icon {
    @include make-col(2);

    text-align: center;
  }

  &__title {
    margin-bottom: rem(10px);
    
    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'normal');
    font-size: map-get($font-sizes, 'small');
  }

  &__info,
  &__error {
    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'normal');
    font-size: map-get($font-sizes, 'sm');
    opacity: 0.5;
  }
}
