.blank-slate {
  text-align: center;
  padding-top: rem(250px);

  &__emoji {
    font-size: map-get($font-sizes, 'xxl');
  }

  &__message {
    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'bolder');
    font-size: map-get($font-sizes, 'xl');
    line-height: rem(34px);
  }
}
