.form-group {
  display: flex;
  flex-direction: column;
  width: rem(320px);
  height: rem(90px);
  margin-bottom: rem(20px);

  &__label {
    position: static;
    bottom: 76.19%;

    font-style: map-get($font-weight, 'normal');
    font-weight: map-get($font-sizes, 'semi');
    font-size: rem(15px);
    line-height: rem(20px);

    display: flex;
    align-items: center;
    letter-spacing: -0.24px;

    color: map-get($brand-white, 'primary');

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: rem(8px) rem(8px);
  }

  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(55px);
    margin: auto;
    padding: rem(15px) rem(15px);

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'normal');
    font-size: map-get($font-sizes, 'lg');
    line-height: rem(22px);
    letter-spacing: rem(0.41px);

    background: rgba(255, 255, 255, 0.18);
    border: transparent;
    border-radius: rem(12px);

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &__input:focus {
    color: map-get($brand-white, 'primary');
    background: rgba(255, 255, 255, 0.18);
    outline: none;
    box-shadow: none;
  }
}
