.logo-base {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(24px);

  &__img {
    align-self: center;
    margin: rem(0 24px 24px);
  }

  &__label {
    align-self: stretch;
    color: map-get($brand-white, 'primary');
    font-size: map-get($font-sizes, 'lg');
    letter-spacing: rem(0.20px);
    line-height: rem(22px);
    opacity: 0.6;
    text-align: center;
  }
}
