
// Colors
$brand-black: (
  light: hsl(240, 11%, 9%),
  primary: hsl(0, 0%, 0%)
);

$brand-white: (
  primary: hsl(0, 0%, 100%)
);

$brand-gray: (
  transparent: hsla(0, 0%, 15%, 0.6)
);

// Font Size
$font-sizes: (
  sm: rem(0.8125),
  md: rem(0.9375),
  lg: rem(1.0625),
  xl: x-large,
  xxl: xx-large,
  xxxl: 2.125rem,
  xxxxl: 4rem
);

// Font Weight
$font-weight: (
  normal: 400,
  semi: 600,
  bolder: 800
);
